<!DOCTYPE html>
<html>

<head>
    <title>Project Caitlin Server</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link href='css/datepicker.css' rel='stylesheet' />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <style>
        table {
            table-layout: fixed;
            width: 100px;
            height: 100px;
        }
    </style>
    <script>
        /*
        for some estrange reason, blockfunction must be there because of the weird syntax I am using to connect
        the backend to the frontend with savedEvents.
        */


        var savedEvents = <% -JSON.stringify(events) %> // this is all the events passed from express backend
            function blockfunction() {
            }

        function hideExtra() { //Hide the container for showing details of event
            $("#extraHolder").hide();// and $("#dv1").hide();
        }

        function eventClick(summary, start, end, id) {
            console.log(summary + " start" + start + " end: " + end + " id: " + id);
            // console.log(eventInfo);
            // console.log(Object.keys(eventInfo));
            // alert("eventClick : " + eventInfo);
            $("#extraDetails").text(summary + " start" + start + " end: " + end);
            $("#extraHolder").show();// and $("#dv1").hide();
        }

        function dateClick(i) {
            // alert(i);
            $("#extraDetails").text("Date click " + i);
            $("#extraHolder").show();// and $("#dv1").hide();
        }

    </script>

    <script>
        $(document).ready(function () {
            // Datepicker Popups calender to Choose date.
            $(function () {
                $("#datepicker").datepicker();
                // Pass the user selected date format.
            });
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Project Caitlin</span>
    </nav>
    <h1 style="margin-left: 5%;">Monthly View</h1>

    <div id="extraHolder" class="alert alert-warning" style="width : 84%; margin: 5%;  display: none ; " role="alert">
        <p id="extraDetails"> </p>
        <p> Image of event will be displayed below</p>
        <p>Date: <input type="text" id="datepicker"></p>
        <div>
            <!-- <img style="width: 300px;"
                src="https://img.ifunny.co/images/1438f43fef5173deb83eeb2444fa40a71d6874d1f5c2713f61efc2f8843b7f22_1.jpg"
                alt=""> -->
        </div>
        <button onclick="hideExtra()" type="button" class="btn btn-primary">Hide</button>
    </div>

    <!-- This portion builds the calendar
TODO: it still doesn't know many days each month has and what day it starts on,
we can probably pass that down from the server side  -->

    <%
console.log("Tyler says ", events[0].start.dateTime);
var lastDayOfMonth = new Date(events[0].start.dateTime);
var startDay = lastDayOfMonth.getDay();
lastDayOfMonth = new Date(lastDayOfMonth.getYear(), lastDayOfMonth.getMonth() + 0, 0).getDate();
console.log("Last Day of Month: " + startDay);

%>
    <div style="margin-left: 5%; width: 70%; height: 70%;">
        <table class="table table-bordered" style=" table-layout: fixed;
font-size: smaller;">
            <tr>
                <td>Sunday</td>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
                <td>Saturday</td>
            </tr>
            <% for(var i = 1, x = 0; i < 36; ++i ){ %>
            <% if (i == 0 || i == 8 || i == 22) { %>
            <tr>
                <% } %>
                <td style="width: 77px;" onclick="dateClick('<%= i  %>')">
                    <%var emptyBox = true%>
                    <% if (i < 32){ %>
                    <%= i %>
                        <%while (events.length > x &&  (new Date(events[x].start.dateTime)).getDate() == i ){ %>
                            <div style="width:170px;" id="day<%=i%>" onclick="event.stopPropagation();  eventClick('<%= events[x].summary %> ', '<%= events[x].start.dateTime %> ',' <%= events[x].end.dateTime %> '
                            ,' <%= events[x].id %> '  )">
                                <div class="alert alert-primary">
                                    <%emptyBox = false%>
                                    <%= events[x].summary%>
                                </div>
                            </div>
                            <% x++; %>
                        <%}%>
                    <% } %>
                    <%if(emptyBox){%>
                        <div style="width:170px; height: 170px;">
                        </div>
                    <%}%>
                    
                </td>
                <% if (i == 7 || i == 14 || i == 21 || i == 28) { %>
            </tr>
            <% }  %>
            <% } %>

        </table>

    </div>
    <!-- Below is a temporary request form -->

    <div class="ui main text container segment" style="margin-top: 5%; margin-left:70%;">
        <div class="ui huge header">New Request</div>
        <form class="ui form" action="/getEventsByInterval" method="POST">
            <div class="field">
                <label>Start Day </label>
                <input type="text" name="time[start]" placeholder="Start">
            </div>
            <div class="field">
                <label>End Day</label>
                <input type="text" name="time[end]" placeholder="End">
            </div>
            <input class="ui black basic button" type="submit">
        </form>
    </div>
</body>

</html>